---
# Datasaurus

En el siguiente dataset, haremos un análisis forense de este misterioso set de datos para descubrir insights, utilizando técnicas de análisis exploratorio.

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('DatasaurusDozen.tsv', sep='\t')

In [7]:
df.head(2)

  dataset        x        y
0    dino  55.3846  97.1795
1    dino  51.5385  96.0256

### Análisis Exploratorio Inicial

Realice un análisis exploratorio inicial en donde pueda determinar:

- Estructura del dataframe
- Cantidad de datos
- Valores nulos
- Valores duplicados
- Outlaiers

### Análisis Exploratorio de Datos

In [ ]:
# En el set de datos vienen distintas clases de datasets, 
# estas se encuentran en la columna "dataset"
# una forma sencilla de conocer los distintos valores que vienen,
# es la siguiente

df['dataset'].unique()

In [9]:
# En este primer análisis, trabajaremos con el dataset slant_down
df_slant = df[df['dataset']=='slant_down']

In [10]:
df_slant.shape

(142, 3)

### Análisis Dataset slant_down

Realice los siguientes cálculos:
* media de x
* media de y
* desviación estándar de x
* desviación estándar de y
* correlación de xy

### Análisis Dataset dino

Repita el mismo análisis con el dataset dino

### Análisis Dataset star

Repita el mismo análisis con el dataset star

### Análisis y Conclusiones

Aparentemente, este misterioso set de datos esconde algunos misterios... ¿Se podrá concluir que cada dataset contiene los mismos datos, o al menos son datos muy similares?

In [ ]:
# Responda acá

Considere extender el análisis exploratorio para corroborar o refutar la aseveración anterior

Realice un análisis visual de los datasets anteriores

¿Qué hallazgos ha encontrado que sean relevantes?

In [ ]:
# Responda acá