---
# Ciclos iterativos

- Sentencia FOR
- Sentencia WHILE
- Función RANGE
- Métodos convenientes

## 1. Sentencia FOR

In [3]:
seq = [1,2,3,4,5]

In [10]:
for valor in seq:
    print(valor)

1
2
3
4
5

In [6]:
animales = ['Leon','Zebra','Cocodrilo','Jirafa']

In [14]:
i = 0
for animal in animales:
    print( "Iteracion " + str(i) + ' -> ' +animal)
    i = i + 1

Iteracion 0 -> Leon
Iteracion 0 -> Zebra
Iteracion 0 -> Cocodrilo
Iteracion 0 -> Jirafa

In [4]:
seq

[1, 2, 3, 4, 5]

In [5]:
for val in seq:
    print(val)

1
2
3
4
5

## 2. Ciclo While

In [1]:
i = 0
while i < 5:
    print( 'Hola ' + str(i) )
    i = i + 1

Hola 0
Hola 1
Hola 2
Hola 3
Hola 4

## 3. Funcion Range

In [6]:
range(5)

range(0, 5)

In [7]:
list(range(5))

[0, 1, 2, 3, 4]

In [8]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [9]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [10]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

## 4. Métodos convenientes

In [1]:
saludo = "Hola, bienvenidos al curso de Python"

In [21]:
# dividir un string y formar una lista
saludo.split()

['hola,', 'bienvenidos', 'al', 'curso', 'de', 'python']

In [22]:
saludo.split(',')

['hola', ' bienvenidos al curso de python']

In [23]:
palabras = saludo.split()

In [24]:
palabras

['hola,', 'bienvenidos', 'al', 'curso', 'de', 'python']

In [25]:
for palabra in palabras:
    print("La palabra es: " + palabra)

La palabra es: hola,
La palabra es: bienvenidos
La palabra es: al
La palabra es: curso
La palabra es: de
La palabra es: python

In [26]:
mail = 'juan.perez.gonzalez@gmail.com'

In [27]:
mail.split('.')

['juan', 'perez', 'gonzalez@gmail', 'com']

In [28]:
mail.split('@')

['juan.perez.gonzalez', 'gmail.com']

In [32]:
mail.split('@')[0].split('.')

['juan', 'perez', 'gonzalez']

In [33]:
lista1 = mail.split('@')

In [34]:
lista1

['juan.perez.gonzalez', 'gmail.com']

In [35]:
lista1[0]

'juan.perez.gonzalez'

In [36]:
nombre_cuenta = lista1[0]

In [37]:
nombre_cuenta

'juan.perez.gonzalez'

In [38]:
nombre_cuenta.split('.')

['juan', 'perez', 'gonzalez']

In [39]:
lista2 = nombre_cuenta.split('.')

In [40]:
lista2

['juan', 'perez', 'gonzalez']

In [41]:
lista2[0]

'juan'

In [42]:
lista2[1]

'perez'

In [43]:
lista2[2]

'gonzalez'

---