# Insturcciones
Copnstruya uun jupyter notebook, ordenaddo bien docuumentado y reproducible, que permita responder lo siguuiente:
- Análisis univariado de la edad de los pasajeros
- Análisis univariado del valor del pasaje
- Del análisis anterior que insights puede levantar?

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('titanic.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Análisis univariado de la edad

In [12]:
# Cálculo de medidas de tendencia central para la columna 'Age'
media_edad = df['Age'].mean()
mediana_edad = df['Age'].median()
moda_edad = df['Age'].mode()

print(f"Media de la edad: {media_edad}")
print(f"Mediana de la edad: {mediana_edad}")
print(f"Moda de la edad: {moda_edad}")

Media de la edad: 29.69911764705882
Mediana de la edad: 28.0
Moda de la edad: 0    24.0
Name: Age, dtype: float64