---
# Caso Superstore

Usted ha sido contratado por una super cadena de retail y le han encomendado la misión de analizar las ventas de la cadena. Para eso, le proporcionan un archivo de datos en formato csv.

Realice Análisis Visual, para la obtención de insights. Algunos análisis que podría realizar:
- Análisis de lo0s tiempos de entrega (por medio de entrega)
- Análisis de las ventas (por categoría, por zona, por segmento de cliente)
- Análisis de ventas en el tiempo
- Análisis de rentabilidad (por categoría, por zona, por segmento de cliente)
- etc...

In [1]:
import pandas as pd

## 1. Lectura y Wrangling Inicial

In [2]:
# lectura con parseo de fechas
df = pd.read_csv('Superstore.csv', encoding='windows-1252', parse_dates=['Order Date','Ship Date'])

In [3]:
# eliminamos columnas que no serán de utilidad
df.drop(['Row ID', 'Postal Code'], axis=1, inplace=True)

In [4]:
# estructura del dataframe
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9994 non-null   str
 1   Order Date     9994 non-null   datetime64[us]
 2   Ship Date      9994 non-null   datetime64[us]
 3   Ship Mode      9994 non-null   str
 4   Customer ID    9994 non-null   str
 5   Customer Name  9994 non-null   str
 6   Segment        9994 non-null   str
 7   Country        9994 non-null   str
 8   City           9994 non-null   str
 9   State          9994 non-null   str
 10  Region         9994 non-null   str
 11  Product ID     9994 non-null   str
 12  Category       9994 non-null   str
 13  Sub-Category   9994 non-null   str
 14  Product Name   9994 non-null   str
 15  Sales          9994 non-null   float64
 16  Quantity       9994 non-null   int64
 17  Discount       9994 non-null   float64
 18  Profit         9994 non-null   float64
dtypes: datetime64[us](2), float64(3), int64(1), str(13)
memory usage: 1.4 MB

In [5]:
# algunos registros de ejemplo
df.sample(4).T

,3552,3945,9494,9093
Order ID,CA-2016-152555,CA-2017-167871,CA-2016-105207,US-2015-132836
Order Date,2016-03-29 00:00:00,2017-11-18 00:00:00,2016-01-03 00:00:00,2015-06-01 00:00:00
Ship Date,2016-04-02 00:00:00,2017-11-23 00:00:00,2016-01-08 00:00:00,2015-06-05 00:00:00
Ship Mode,Second Class,Standard Class,Standard Class,Standard Class
Customer ID,ME-17320,AF-10870,BO-11350,AJ-10945
Customer Name,Maria Etezadi,Art Ferguson,Bill Overfelt,Ashley Jarboe
Segment,Home Office,Consumer,Corporate,Consumer
Country,United States,United States,United States,United States
City,Chicago,Homestead,Broken Arrow,Detroit
State,Illinois,Florida,Oklahoma,Michigan
Region,Central,South,Central,Central
Product ID,TEC-PH-10001254,OFF-PA-10001977,OFF-BI-10004364,TEC-PH-10001299
Category,Technology,Office Supplies,Office Supplies,Technology
Sub-Category,Phones,Paper,Binders,Phones
Product Name,Jabra BIZ 2300 Duo QD Duo Corded Headset,Xerox 194,Storex Dura Pro Binders,Polycom CX300 Desktop Phone USB VoIP phone
Sales,812.736,44.384,11.88,299.98
Quantity,8,1,2,2
Discount,0.2,0.2,0.0,0.0
Profit,60.9552,15.5344,5.346,83.9944

## 2. Análisis Visual